body {
	font-family: Arial;
	margin-left: 12.5%;
	background: #e3e3e3;
	width: 75%;
	text-align: center;
}

#web-main-title {
	margin: 25px;
}

p {
	color: gray;
}

.blog-title {
	color: red;
}

body table {
	margin-left: auto;
	margin-right: auto;
}

ul {
	display: table;
	margin: 0 auto;
}

.blog-post-container {
	background: white;
	
}

.navigation-links a:visited{
	color: black;
	text-decoration: none;
}

.navigation-links a:link{
	color: black;
	text-decoration: none;
}

.navigation-links a:hover {
	color: red;
	text-decoration: none;
}

input[type="text"] {
	background: #FFFDD0;
}

textarea {
	background: #FFFDD0;
}

select {
	background: #FFFDD0;
}

h2 {
	color: red;
}

.contact-section {
	background: white;
}

.blog-posts {
	background: white;
	display: flex;
}