body {
	font-family: Arial;
	margin-left: 12.5%;
	background: #e3e3e3;
	width: 75%;
	text-align: center;
}

header {
	background: #e3e3e3;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

#web-main-title {
	margin: 25px;
}

p {
	color: gray;
}

.blog-title {
	color: red;
}

body table {
	margin-left: auto;
	margin-right: auto;
}

ul {
	display: table;
	margin: 0 auto;
}

.blog-post-container {
	background: white;
	padding: 25px;
}

header a:visited{
	color: black;
	text-decoration: none;
}

header a:link{
	color: black;
	text-decoration: none;
}

header a:hover {
	color: red;
	text-decoration: none;
}

input[type="text"] {
	background: #FFFDD0;
}

textarea {
	background: #FFFDD0;
}

select {
	background: #FFFDD0;
}

h2 {
	color: red;
}

.contact-section {
	background: white;
}

.blog-posts {
	background: white;
	display: flex;
}

#image-paragraph {
	margin-bottom: 50px;
}

#float {
	float: left;
	width: 150px;
	height: 100px;
	padding: 1em;
}

#pc-image {
	width: 100%;
    height: 75%;
}

@media (max-width: 400px){
	.blog-posts {
		flex-wrap: wrap;
	}
	#msu-img {
		width: 275px;
	}
	.picture-image{
		display: flex;
		flex-wrap: wrap;
	}
}