body {
	font-family: Arial;
	margin-left: 12.5%;
	background: #e3e3e3;
	width: 75%;
	text-align: center;
}

#web-main-title {
	margin: 25px;
}

p {
	color: gray;
}

.blog-title {
	color: red;
}

.blog-post {
	background: white;
}

body table {
	margin-left: auto;
	margin-right: auto;
}

ul {
	display: table;
	margin: 0 auto;
}

.blog-post-container {
	background: white;
}

.navigation-links a:link{
	color: black;
}